server:
  port: 8090

spring:
  application:
    name: auth-ms

  config:
    import: "optional:configserver:"

  cloud:
    config:
      fail-fast: false

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://eureka-ms:8761/eureka}

management:
  endpoints:
    web:
      exposure:
        include: health,info
