server:
  port: 8888

spring:
  application:
    name: config-ms

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: ${CONFIG_REPO_URI:file:/config-repo}

management:
  endpoints:
    web:
      exposure:
        include: health,info
